<app-header titulo="Menu Principal">

</app-header>

<ion-content>


    <ion-grid>

        <ion-row>
    
          <ion-col width-50 style="text-align: center;">
            <ion-button expand="full" fill="clear" routerLink="/dados-pessoais">Dados Pessoais</ion-button>
          </ion-col>
    
        </ion-row>
    
        <ion-row>
    
          <ion-col width-50 style="text-align: center;">
            <ion-button expand="full" fill="clear" routerLink="/financeiro">Financeiro</ion-button>
          </ion-col>
        
        </ion-row>
    
        <ion-row>
    
        </ion-row>
    
        <ion-row>
    
          <ion-col width-50 style="text-align: center;">
            <ion-button fill="clear" expand="full" routerLink="/notas">Notas</ion-button>
          </ion-col>
    
        </ion-row>
        
        <ion-row>
    
            <ion-col width-50 style="text-align: center;">
              <ion-button fill="clear" expand="full" ng-click="exitApp()">Sair</ion-button>
            </ion-col>
      
          </ion-row>
      
        </ion-grid>

</ion-content>